
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}



/*  INTRODUCTION SECTION */
.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('img/law-bg.jpg') no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    width: 600%;
    max-width: none;
}

.mypicx {
    width: 60px;
    height: 60px;
    margin-left: 100px;
    border-radius: 100%;
}

.nav-items {
    float: right;
    margin-top: 20px;
}
.nav-lists {
    font-family: 'Raleway';
}

.btn-home,
.btn-about,
.btn-services,
.btn-team,
.btn-contact {
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: #33495f;
    font-weight: 600;
}

.content {
    max-width: 100%;
    height: 80%;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}

.content-intro {
    font-family: 'Questrial', Open Sans;
    color: #FFFFFF;
    text-shadow: 0px 0px 500px #000;
    font-size: 100%;
    font-weight: 400;
    padding-top: 10px;
    margin: 10px 0px;
    line-height: 1em;
    animation: fadeInDownBig 3s 1;
}
@keyframes fadeInDownBig {
    from {
      opacity: 0;
      transform: translate3d(0, -2000px, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
 

h1 {
    font-family: 'Arvo', sans-serif;
    font-size: 300%;
    font-weight: 400;
    padding-top: 15%;
    margin: 30px 0 30px 0;
    line-height: 1.2;
}

h2 {
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
}

h3 {
    font-family: 'Poiret One', Open sans;
    color: #FFFFFF;
    text-shadow: 0px 0px 500px #000;
    font-weight: 100;
    font-size: 100%;
    margin-bottom: 8%;
    line-height: 2;
}
h4 {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.btn,
.btn1 {
    border-radius: 10px;
    font-family: 'Oswald', Open Sans;
    color: #dfe8ef;
    font-size: 120%;
    padding: 10px 20px;
    border: solid #f2f2f2 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    margin-right: 30px;
    animation: fadeIn 5s 1;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

.btn:hover,
.btn1:hover {
    color: #b2c5d4;
    border: solid #b2c5d4 4px;
}



/*  ABOUT SECTION  */
.whoweare,
.services,
.ourteam  {
    color: #2a3747;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.underline {
    border: 1px solid #dbaf79;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 60px;
}

div.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "a  b";
    grid-gap: 20px;
    
}

.column1 {
    grid-area: a;
    padding-left: 50px;
    padding-right: 50px;
    justify-items: center;
    line-height: 2;
    font-family: 'Questrial';
    font-size: 16px;
}

.lead {
    color: #2a3747;
    font-family: 'Jost', sans-serif;
    padding-top: 20px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
}
.lead1 {
    font-size: 100%;
    color: #2a3747;
    font-family: 'Questrial', sans-serif;
}

.column2 {
    grid-area: b;
    justify-items: center;
    padding: 40% 10%;
    width: auto;
    margin: 10px;
    background-image: url(img/illus6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
}


/* SERVICE SECTION */

.serConte {
    background-image: url(img/law-bg11.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-head {
    margin: 0 auto;
    font-size: 22px;
    font-weight: 500;
    color: #2a3747;
    font-family: 'Questrial', sans-serif;
    padding-top: 30px;
    text-align: center;
    width: 40%;
    line-height: 1.5;
}

div.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "c d e f";
    text-align: center;
    grid-gap: 30px;
    padding: 50px 40px;
    
}

.real-estate {
    grid-area: c;
    background: #fbbcbb;
    color: #f2f2f2;
}

.criminal {
    grid-area: d;
    background: #fa415d;
    color: #f2f2f2;
}

.personal {
    grid-area: e;
    background: #6176f3;
    color: #f2f2f2;
}

.employment {
    grid-area: f;
    background: #243ee3;
    color: #f2f2f2;
}
.real-estate:hover,
.criminal:hover,
.personal:hover,
.employment:hover {
    animation: pulse 2s 5;
}
@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }



.fas {
    font-size: 2rem;
    color: #dfe8ed;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.legal,
.angle,
.pose,
.staff {
    font-family: 'Questrial', sans-serif;
    font-size: 30%;
}


/* TEAM SECTION */

.team-head {
    margin: 0 auto;
    color: #2a3747;
    font-size: 22px;
    font-family: 'Questrial', sans-serif;
    padding-top: 30px;
    text-align: center;
    width: 40%;
    line-height: 1.5;
}

div.team-content {
    width: auto!important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px auto;
    grid-template-areas: 
    "x y z"
    "g h i";
    text-align: center;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    padding: 50px;
}

.team1a {
    grid-area: x;
    background-image: url(img/013.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team1 {
    grid-area: g;
    border: 1px solid #dbaf79;
    line-height: 1.7;
    text-align: center;
    color: #2a3747;
}
.team1a:hover,
.team1:hover {
    animation: pulse 2s;
}
@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

.team2a {
    grid-area: y;
    background-image: url(img/woman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team2 {
    grid-area: h;
    border: 1px solid #dbaf79;
    line-height: 1.7;
    text-align: center;
    color: #2a3747;
}
.team2a:hover,
.team2:hover {
    animation: pulse 2s;
}
@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

.team3a {
    grid-area: z;
    background: #b2ebf3;
    background-image: url(img/me.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team3 {
    grid-area: i;
    border: 1px solid #dbaf79;
    line-height: 1.7;
    text-align: center;
    color: #2a3747;
}
.team3a:hover,
.team3:hover {
    animation: pulse 2s;
}
@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }



  /* EMPTY SPACE */
.emptyspace {
    padding: 50px 0px;
}
.success {
    padding: 150px;
    text-align: center;
    background-color: rgb(97, 118, 243, 0.5);
    font-family: 'Questrial';
    font-size: 40px;
    color: #f2f2f2;
}



/*  CONTACT SECTION */
.contactus {
    color: #2a3747;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
}

.contact-content {
    width: auto!important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "boy girl";
    grid-gap: 30px;
    padding: 50px;
    background-color: rgb(97, 118, 243, 0.5);
    background-image: url();
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-info {
    grid-area: boy;
    background-image: url(img/gmap.png);
    border: 2px solid #ccc;
    border-radius: 10px;
}

.form-box {
    grid-area: girl;
}

.getfree {
    color: #f2f2f2;
    font-family: 'Jost';
    font-size: 25px;
    width: 100%;
}
.form-label {
    color: #f2f2f2;
    font-family: 'Jost';
    font-size: 18px;
    width: 100%;
}

.form-content-box {
    margin: 0 auto;
    font-family: 'Jost', Open Sans;
    text-align: justify;
    width: 100%;
    padding-bottom: 20px;
    line-height: 1.5;
}

.form-fullname,
.email,
.subject,
.message {
    margin-bottom: 15px;
}

input[type=text] {
    width: 100%;
    height: 45px;
    color: #262626;
    background-color: #edf2f7;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: inherit;
    border-radius: 5px;
    border: 0 solid #e2e8f0;
}

#message-input {
    width: 100%;
    background-color: #edf2f7;
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
    border-radius: 6px 6px 0px 6px;
}

.send {
    padding: 10px 50px;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Jost';
    text-transform: uppercase;
    background: #fa415d;
    border: #f8304e;
    color: #ffffff;
    cursor: pointer;
}

.send:hover {
    background: #ab44f5;
    color: #f2f2f2;
    border: #ab44f5;
    font-weight: 500;
    animation: pulse 2s 5;
}
@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}

/* QUICK LINKS SECTION */

.qlinkz {
    width: auto!important;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "par pen pin pan";
    grid-column-gap: 20px;
    padding: 50px;
}

.qlink1 {
    grid-area: par;
    padding: 20px;
    border: 1px solid #dbaf79;
}
.qlinkx {
    color: #2a3747;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}

.qlink2 {
    grid-area: pen;
    border: 1px solid #dbaf79;
    text-align: center;
    color: #2a3747;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    padding: 20px;
}
.ql {
    outline-style: none;
}
.qlink3 {
    grid-area: pin;
    border: 1px solid #dbaf79;
}
.qlink4 {
    grid-area: pan;
    border: 1px solid #dbaf79;
}





.facebook,
.twitter,
.instagram,
.linkedin,
.github,
.envelope {
    color: #58555a;
    font-size: 30px;
    padding-right: 10px;
}

.facebook:hover,
.twitter:hover,
.instagram:hover,
.linkedin:hover,
.github:hover,
.envelope:hover {
    color: #2c2325;
}


/* FOOTER SECTION */

#footer-items {
    width: 100%;
    margin: 0 auto;
}

.footer-contents {
    text-align: center;
    margin: 20px;
    font-family: 'Poiret One', Open Sans;
    font-weight: 700;
}
.footer {
    font-size: 100%;
}






/* MEDIA QUERY */

@media only screen and (max-width: 768px) {
    .intro .inner {
        width: 100%;
        height: 50%;
    }
    .content {
        max-width: 100%;
        margin: 20px;
        text-align: left;
        height: 60%;
    }
    .mypicx {
        width: 30px;
        height: 30px;
        margin-left: 15px;
        margin-top: 50px;
        border-radius: 100%;
    }
    .nav-items {
        float: right;
        margin-top: 50px;
    }
    .nav-lists {
        font-family: 'Raleway';
    }
    .btn-home,
    .btn-about,
    .btn-services,
    .btn-team,
    .btn-contact {
        padding-left: 10px;
        padding-right: 15px;
        text-decoration: none;
        color: #33495f;
        font-weight: 400;
        font-size: 12px;
    }
    h1 {
        font-size: 200%;
        font-family: 'Open Sans';
        margin-top: 70%;
    }
    h3 {
        font-size: 80%;
        font-weight: 200;
        line-height: 1.5rem;
        margin-bottom: 15%;
    }
    .btn,
    .btn1 {
        font-size: 100%;
        padding: 4px 7px;
    }
    div.about-container {
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    .column1 {
        font-size: 100%;
        line-height: 1.5;
        width: 90%;
        margin: 20px;
        padding: 0;
    }
    .column2 {
        text-align: center;
        
    }

    div.services-container {
        display: flex;
        flex-direction: column;
        padding: 30px 25px;
    }

    .contactme-content {
        font-size: 100%;
        line-height: 1.5;
        width: 85%;
    }

    .form-content-box {
        width: 85%;
    }
    .fname,
    .emailadd,
    .messaze {
    font-size: 100%;
    margin-bottom: 15%;
    }
    .footer {
        font-size: 40%;
        width: 100%;
        margin-top: 20px;
    }
}
