@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border: none;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}
/*
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}*/


/* COURESELL SECTION */
@keyframes tostart {
    75% {
        transform: translateX(0%);
    }

    95% {
        transform: translateX(-300%);
    }

    98% {
        transform: translateX(-300%);
    }

    99% {
        transform: translateX(0%);
    }
}

@keyframes tonext {
    
    75% {
        transform: translateX(0%);
    }
    95% {
        transform: translateX(100%);
    }

    98% {
        transform: translateX(100%);
    }

    99% {
        transform: translateX(0%);
    }
}



/*
@keyframes tonext {
    50% {
        left: 50%;
    }
    75% {
        left: 80%;
    }

    95% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }

    95% {
        left: -300%;
    }

    98% {
        left: -300%;
    }

    99% {
        left: 0;
    }
}*/

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }

    97% {
        scroll-snap-align: none;
    }

    99% {
        scroll-snap-align: none;
    }

    100% {
        scroll-snap-align: center;
    }
}



* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding: 27%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: -100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: blue;
    background-image: url(img/law-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    counter-increment: item;
}

.carousel__slide:nth-child(2) {
    background-color: orange;
    background-image: url(img/law-bg11.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel__slide:nth-child(3) {
    background-color: orchid;
    background-image: url(img/wallpaperbg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*
.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}*/


.carousel__slide {
    animation: slide-animation 1s infinite;
}
.carousel__slide {
    animation-play-state: paused;
}
@keyframes slide-animation {
    75% {
        transform: translateX(0%);
    }

    95% {
        transform: translateX(-300%);
    }

    98% {
        transform: translateX(-300%);
    }

    99% {
        transform: translateX(0%);
    }
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: linear;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }

    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}
/*
@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}
*/
@media (prefers-reduced-motion: no-preference) {
    .carousel__snapper {
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

/* CAROUSEL TRACKER SMALL DOTS*/

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: rgb(42, 56, 71);
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform .1s;
}

/* CAROUSEL SETTINGS */
/*
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}*/


/* NEXT AND AFTER CAROUSEL */

/*
.carousel::before,
.carousel__prev {
  left: -1rem;
}
.carousel::after,
.carousel__next {
  right: -1rem;
}*/

/* NEXT & PREVIOUS ARROW BUTTONS */

/*
.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}
.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
*/

.menu-wrap,
.toggler,
.hamburger,
.menu {
    display: none;
}

/*  INTRODUCTION SECTION */


header.nav-items {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    font-family: 'Raleway';
    grid-area: one;
    background-color: rgb(57, 79, 104, .7);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    z-index: 1;
}

div.logo1 {
    display: none;
}

.logo {
    background-image: url(img/africap.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: auto 0;
    border-radius: 50%;
}

.logo:hover {
    transition: all 2s;
    transform: rotate(360deg);
    cursor: pointer;
}

.nav-lists {
    display: flex;
    align-self: center;
}

.btn-home,
.btn-about,
.btn-services,
.btn-team,
.btn-contact {
    margin: 20px;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Questrial', Roboto;
}

.btn-home:hover,
.btn-about:hover,
.btn-services:hover,
.btn-team:hover,
.btn-contact:hover {
    color: #ffffff;
    background-color: #253b52;
    border-radius: 5px;
    transition: all .8s;
}

.content {
    grid-area: two;
    width: fit-content;
    height: fit-content;
    text-align: left;
    margin: 200px 0 0 100px;
}
.content-intro-black {
    color: #262626;
    width: fit-content;
    height: fit-content;
    text-shadow: 0px 0px 500px #000;
    font-size: 100%;
    font-weight: 400;
    margin: 10px 0px;
    padding: 30px 30px 10px 30px;
    line-height: 1em;
}
h3.black {
    color: #262626;
}
.content-intro {
    width: fit-content;
    height: fit-content;
    color: #ffffff;
    text-shadow: 0px 0px 500px #000;
    font-size: 100%;
    font-weight: 400;
    margin: 10px 0px;
    padding: 30px 30px 10px 30px;
    line-height: 1em;
    /*animation: fadeInRightBig 4s 1;*/
}

/*
@keyframes fadeInRightBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
      transform: translate3d(2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }*/


h1 {
    font-family: 'Arvo', sans-serif;
    font-size: 300%;
    font-weight: 400;
    margin: 30px 0 30px 0;
    line-height: 1.2;
}

h2 {
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    padding: 20px 0;
}

h3 {
    font-family: 'Jost', Roboto;
    font-weight: 200;
    color: #FFFFFF;
    line-height: 1.7;
}

h4 {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.buttons {
    padding: 30px;
}

.btn,
.btn1 {
    border-radius: 5px;
    font-family: 'Oswald', Open Sans;
    color: #262626;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: solid #f2f2f2 2px;
    background-color: rgb(242, 242, 242, .85);
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    margin-right: 30px;
    /*animation: fadeIn 5s 1;*/
}

/*
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }*/

.btn:hover,
.btn1:hover {
    color: #016dc0;
    border: solid #016dc0 3px;
    transition: all .3s;
}


/*  ABOUT SECTION  */


.whoweare,
.services,
.ourteam {
    color: #2a3747;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.underline {
    border: 1px solid #dbaf79;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 60px;
}

div.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50%;
    grid-template-areas:
        "a  b";
    grid-gap: 50px;
    padding: 30px 100px;
}

.column1 {
    grid-area: a;
    line-height: 2;
    font-family: 'Questrial';
    font-size: 16px;
}

.lead {
    color: #2a3747;
    font-family: 'Jost', sans-serif;
    padding-top: 20px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
}

.lead1 {
    font-size: 100%;
    color: #2a3747;
    font-family: 'Questrial', sans-serif;
}

.column2 {
    grid-area: b;
    justify-items: center;
    padding: 40% 10%;
    width: auto;
    margin: 10px;
    background-image: url(img/illus6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* SERVICE SECTION */


.serConte {
    background-image: url(img/law-bg11.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-head {
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    color: #2a3747;
    font-family: 'Questrial', sans-serif;
    padding-top: 30px;
    text-align: center;
    width: 40%;
    line-height: 1.5;
}

div.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "c d e f";
    text-align: center;
    grid-gap: 30px;
    padding: 70px 100px;
}

.real-estate {
    grid-area: c;
    background: #fbbcbb;
    color: #f2f2f2;
    padding: 20px;
}

.criminal {
    grid-area: d;
    background: #fa415d;
    color: #f2f2f2;
    padding: 20px;
}

.personal {
    grid-area: e;
    background: #6176f3;
    color: #f2f2f2;
    padding: 20px;
}

.employment {
    grid-area: f;
    background: #243ee3;
    color: #f2f2f2;
    padding: 20px;
}

.real-estate:hover,
.criminal:hover,
.personal:hover,
.employment:hover {
    animation: pulse 2s 5;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.fas {
    font-size: 2rem;
    color: #dfe8ed;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.legal,
.angle,
.pose,
.staff {
    font-family: 'Questrial', sans-serif;
    font-size: .9rem;
    line-height: 1.3;
}


/* TEAM SECTION */


.team-head {
    margin: 0 auto;
    color: #2a3747;
    font-size: 22px;
    font-family: 'Questrial', sans-serif;
    padding-top: 30px;
    text-align: center;
    width: 40%;
    line-height: 1.5;
}

div.team-content {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px auto;
    grid-template-areas:
        "x y z"
        "g h i";
    text-align: center;
    column-gap: 30px;
    row-gap: 20px;
    padding: 50px 100px;
}

.team1a {
    grid-area: x;
    background-image: url(img/blackman6.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.team1 {
    grid-area: g;
    border: 1px solid #dbaf79;
    line-height: 1.5;
    text-align: start;
    padding: 20px;
    color: #2a3747;
}

.team1a:hover,
.team1:hover {
    animation: pulse 2s;
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.team2a {
    grid-area: y;
    background-image: url(img/woman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.team2 {
    grid-area: h;
    border: 1px solid #dbaf79;
    line-height: 1.5;
    text-align: start;
    padding: 20px;
    color: #2a3747;
}

.team2a:hover,
.team2:hover {
    animation: pulse 2s;
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.team3a {
    grid-area: z;
    background: #b2ebf3;
    background-image: url(img/blackman10.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.team3 {
    grid-area: i;
    border: 1px solid #dbaf79;
    line-height: 1.5;
    text-align: start;
    padding: 20px;
    color: #2a3747;
}

.team3a:hover,
.team3:hover {
    animation: pulse 2s;
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}



/* EMPTY SPACE */
.emptyspace {
    padding: 50px 0px;
}

.success {
    padding: 150px;
    text-align: center;
    background-color: rgb(57, 79, 104, .5);
    font-family: 'Questrial';
    font-size: 2.3rem;
    color: #f2f2f2;
    line-height: 1.5;
}

.fa-quote-left,
.fa-quote-right {
    margin: 0 50px 0 50px;
}


/*  CONTACT SECTION */
.contactus {
    color: #2a3747;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
}

.contact-content {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "boy girl";
    grid-gap: 30px;
    padding: 50px 100px;
    background-color: rgb(57, 79, 104);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-info {
    grid-area: boy;
    border-radius: 10px;
    height: 100%;
}

.form-box {
    grid-area: girl;
}

.getfree {
    color: #f2f2f2;
    font-family: 'Jost';
    font-size: 25px;
    width: 100%;
    line-height: 1.7;
}

.form-label {
    color: #f2f2f2;
    font-family: 'Jost';
    font-size: 18px;
    width: 100%;
    margin-bottom: 30px;
}

.form-content-box {
    margin: 0 auto;
    font-family: 'Jost', Open Sans;
    text-align: justify;
    width: 100%;
    padding-bottom: 20px;
    line-height: 1.5;
}

.form-fullname,
.email,
.subject,
.message {
    margin-bottom: 15px;
}

input[type=text] {
    width: 100%;
    height: 45px;
    color: #262626;
    background-color: #edf2f7;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: inherit;
    border-radius: 5px;
    border: 0 solid #e2e8f0;
    outline: none;
}

#message-input {
    width: 100%;
    background-color: #edf2f7;
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
    border-radius: 6px 6px 0px 6px;
    outline: none;
}

.send {
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Jost';
    text-transform: uppercase;
    background: #fa415d;
    border: #f8304e;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.send:hover {
    background: #ab44f5;
    color: #f2f2f2;
    border: #ab44f5;
    font-weight: 500;
    animation: pulse 2s 5;
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/* QUICK LINKS SECTION */
section.qlinks {
    width: 100%;
    height: auto;
    padding: 10px 0;
}
.qlinkz {
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "par pen pin pan";
    column-gap: 5px;
    margin: 40px 100px;
}


.qlink1 {
    grid-area: par;
    padding: 20px;
    border: 1px solid #dbaf79;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
div.africaplogo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(img/africap.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.qlinkx {
    color: #2a3747;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}
.textwidget {
    padding-top: 20px;
    color: #2a3747;
}
.social-icon {
    padding-top: 50px;
}

.qlink2 {
    grid-area: pen;
    border: 1px solid #dbaf79;
    border-top: none;
    border-bottom: none;
    text-align: center;
    color: #2a3747;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    padding: 20px;
}

.link {
    padding: 20px 0;
}

.ql {
    padding: 10px 0;
}

.ql a {
    text-decoration: none;
    color: #2a3747;
}

.qlink3 {
    grid-area: pin;
    border: 1px solid #dbaf79;
    border-top: none;
    border-bottom: none;
    text-align: center;
    font-size: 18px;
    padding: 40px 20px;
    font-family: 'Jost', sans-serif;
    color: #2a3747;
}

.finder {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    background-color: rgba(245, 245, 245, 0.75);
    margin: 30px 0;
    outline: none;
}

.qlink4 {
    grid-area: pan;
    border: 1px solid #dbaf79;
    border-top: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
    font-size: 18px;
    padding: 40px 20px;
    font-family: 'Jost', sans-serif;
    color: #2a3747;
}

.tel {
    text-align: start;
    font-size: .9rem;
    padding: 10px 0;
}

.facebook,
.twitter,
.instagram,
.linkedin,
.github,
.envelope {
    color: #58555a;
    font-size: 1.7rem;
    padding-right: 9px;
}
.fa-phone,
.fa-envelope,
.fa-globe-africa {
    font-size: 1.5rem;
    color: #58555a;
    padding-right: 15px;
    margin: auto;
}
.facebook:hover,
.twitter:hover,
.instagram:hover,
.linkedin:hover,
.github:hover,
.envelope:hover {
    color: #2c2325;
}


/* FOOTER SECTION */

#footer-items {
    width: 100%;
    margin: 0 auto;
}

.footer-contents {
    text-align: center;
    margin: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
}

.footer {
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    color: #2a3747;
}






/* MEDIA QUERY */


@media only screen and (max-width: 768px) {


    /* HAMBURGER MENU */

    .menu-wrap,
    .toggler,
    .hamburger,
    .menu {
        display: block;
    }

    .menu-wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 30px;
        height: 30px;
        opacity: 0;
    }

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 50px;
        height: 50px;
        padding: 1rem;
        background: rgb(4, 42, 79, .01);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Hamburger Line */

    .menu-wrap .hamburger>div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
    }

    .menu-wrap .hamburger>div:before,
    .menu-wrap .hamburger>div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -5px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

    .menu-wrap .hamburger>div:after {
        top: 5px;
    }

    .menu-wrap .toggler:checked+.hamburger>div {
        transform: rotate(135deg);
    }

    .menu-wrap .toggler:checked+.hamburger>div:before,
    .menu-wrap .toggler:checked+.hamburger>div:after {
        top: 0;
        transform: rotate(90deg);
    }

    .menu-wrap .toggler:checked:hover+.hamburger>div {
        transform: rotate(225deg);
    }

    .menu-wrap .toggler:checked~.menu {
        visibility: visible;
    }

    .menu-wrap .toggler:checked~.menu>div {
        transform: scale(1);
    }

    .menu-wrap .toggler:checked~.menu>div>div {
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .menu-wrap .menu>div {
        background: rgb(14, 17, 24, .85);
        border-radius: 0 0 10px 10px;
        width: 60vw;
        height: 60vh;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(2);
        transition: all 800ms ease;
        animation: fadeInDown 5s 1;
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-wrap .menu>div>div {
        text-align: center;
        max-width: 50vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.5s ease;
        cursor: pointer;
    }

    .menu-wrap .menu>div>div>ul>li {
        list-style: none;
        color: #fff;
        font-size: 1rem;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
    }

    .menu-wrap .menu>div>div>ul>li>a {
        text-decoration: none;
        color: #fff;
    }

    /*
    .menu-wrap .menu > div > div > ul > li p {
        font-size: .8rem;
        text-transform: capitalize;
    }*/

    .carousel {
        padding: 50vh 32vh;
    }
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
    header.nav-items {
        display: none;
    }

    div.logo1 {
        position: absolute;
        top: 15px;
        right: 20px;
        display: block;
        background-image: url(img/africap.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        z-index: 1;
    }

    div.logo1:hover {
        transition: all 2s;
        transform: rotate(360deg);
        cursor: pointer;
    }

    .content {
        width: auto;
        margin: 30vh auto;
    }

    .content-intro {
        padding: 20px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .buttons {
        padding: 20px;
        text-align: center;
    }

    .btn,
    .btn1 {
        font-size: 1rem;
    }

    div.about-container {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "x"
            "y";
        gap: 10px;
        padding: 20px;
    }

    .column1 {
        width: 95%;
        height: auto;
        margin: 0px auto;
        grid-area: x;
    }

    .lead {
        font-size: 1.8rem;
        text-align: center;
    }

    .lead1 {
        font-size: 1rem;
        text-align: justify;
        line-height: 2;
    }

    .column2 {
        grid-area: y;
        width: auto;
        background-image: url(img/illus6.jpg);
        background-size: 500px;
        margin: 10px;
        padding: 30%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .service-head {
        width: 75%;
        font-size: 1.1rem;
    }

    div.services-container {
        width: 80%;
        margin: 50px auto;
        padding: 0 0 50px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "e f"
            "g h";
    }

    .real-estate {
        grid-area: e;
        padding: 10px;
    }

    div.real-estate h2 {
        font-size: 1.1rem;
    }

    div.real-estate p {
        font-size: .8rem;
    }

    .criminal {
        grid-area: f;
        padding: 10px;
    }

    div.criminal h2 {
        font-size: 1.1rem;
    }

    div.criminal p {
        font-size: .8rem;
    }

    .personal {
        grid-area: g;
        padding: 10px;
    }

    div.personal h2 {
        font-size: 1.1rem;
    }

    div.personal p {
        font-size: .8rem;
    }

    .employment {
        grid-area: h;
        padding: 10px;
    }

    div.employment h2 {
        font-size: 1.1rem;
    }

    div.employment p {
        font-size: .8rem;
    }

    .fa-building,
    .fa-fingerprint,
    .fa-ambulance,
    .fa-user-tie {
        font-size: 1.5rem;
        margin: 5px;
    }

    .team-head {
        width: 75%;
        font-size: 1.1rem;
        margin: auto;
    }

    div.team-content {
        width: auto;
        padding: 50px 100px;
    }

    .team1a {
        height: 80%;
        border-radius: 20px 0px;
        align-self: start;
    }

    .team2a {
        height: 80%;
        border-radius: 20px 0px;
        align-self: end;
    }

    .team3a {
        height: 80%;
        border-radius: 20px 0px;
        align-self: start;
    }

    div h4 {
        font-size: 1.1rem;
    }
    div p {
        font-size: .8rem;
        line-height: 1.5;
    }

    .team1,
    .team2,
    .team3 {
        font-size: .8rem;
    }

    .success {
        font-size: 2rem;
    }

    .contact-content {
        grid-template-areas: "girl girl";
        padding: 50px;
    }

    #contact-info {
        display: none;
    }

    .form-box {
        grid-area: girl;
        text-align: center;
        width: 70%;
        margin: auto;
    }

    .getfree {
        margin: 20px 0;
    }
    .form-label {
        font-size: 1.1rem;
    }

    .qlinkz {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "par pen pan";
        column-gap: 10px;
        width: 85%;
        margin: 40px auto;
    }
    .ql, .tel {
        font-size: .8rem;
    }
    .qlink1 {
        grid-area: par;
        padding: 10px;
    }

    .qlink2 {
        grid-area: pen;
        padding: 10px;
    }

    .qlink3 {
        display: none;
    }

    .qlink4 {
        grid-area: pan;
        display: inline-flex;
        justify-content: center;
        padding: 10px;
    }

    .find {
        padding: 20px 0;
    }

    .tel {
        padding: 10px 0;
    }

    .facebook,
    .twitter,
    .instagram,
    .linkedin,
    .github,
    .envelope {
        color: rgb(88, 85, 90);
        font-size: 1.2rem;
        padding-right: 9px;
    }
    div>img{
        width: 85px;
        height: 70px;
        margin: 10px 50px;
    }
    .qlinkx,
    .textwidget {
        padding: 10px 0;
    }
    .widget {
        margin: 10px auto;
    }

}


/* MEDIA QUERRY FOR SMALLER DEVICE SCREEN */

@media only screen and (max-width: 425px) {

    /*.intro {
        height: 100vh;
        width: auto;
        background: url(img/law-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }*/

    .carousel {
        padding: 50vh 28vh;
    }
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }

    .content {
        margin: 25vh auto;
    }

    h1 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1rem;
    }

    .buttons {
        text-align: start;
    }

    .column2 {
        background-size: 289px;
    }
    .service-head {
        width: 85%;
    }
    .serConte {
        background-size: 42rem;
    }

    .team-head {
        width: 85%;
    }

    div.team-content {
        width: auto;
        padding: 15px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 300px 100px 300px 100px 300px 100px;
        grid-template-areas:
            "bay"
            "nay"
            "aye"
            "eye"
            "map"
            "jay";
    }

    .team1a {
        grid-area: bay;
        align-self: end;
    }

    .team1 {
        grid-area: nay;
        height: fit-content;
        border-radius: 0 20px 0 20px;
    }

    .team2a {
        grid-area: aye;
        align-self: end;
    }

    .team2 {
        grid-area: eye;
        height: fit-content;
        border-radius: 0 20px 0 20px;
    }

    .team3a {
        grid-area: map;
        align-self: end;
    }

    .team3 {
        grid-area: jay;
        height: fit-content;
        border-radius: 0 20px 0 20px;
    }

    .success {
        font-size: 2rem;
        line-height: 1.2;
        padding: 50px 20px;
    }

    .getfree {
        font-size: 1.2rem;
    }
    #contact-info {
        display: none;
    }
    .contact-content {
        width: auto;
        grid-template-columns: auto;
        grid-template-areas: "girl";
        place-items: center center;
        padding: 30px 10px;
    }
    .form-label {
        font-size: 1rem;
    }
    .send {
        padding: 5px 15px;
        font-size: .9rem;
    }
    .qlinkz {
        width: auto;
        column-gap: 0px;
    }
    
    .qlinkx,
    .link,
    .find {
        font-size: 1rem;
        color: #2a3747;
    }
    div.africaplogo{
        width: 75px;
        height: 60px;
        margin: 15px;
    }
    .textwidget,
    .ql,
    .tel {
        font-size: .85rem;
        color: #2a3747;
    }
    .fa-phone,
    .fa-envelope,
    .fa-globe-africa {
        font-size: 1.1rem;
        color: #58555a;
        padding-right: 5px;
        margin: auto;
    }
    .facebook,
    .twitter,
    .instagram,
    .linkedin,
    .github,
    .envelope {
        color: rgb(88, 85, 90);
        font-size: .85rem;
        padding-right: 3px;
    }
}

@media only screen and (max-width: 375px) {

    .carousel {
        padding: 50vh 28vh;
    }
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
    #contact-info {
        display: none;
    }
    .contact-content {
        width: auto;
        grid-template-columns: auto;
        grid-template-areas: "girl";
        place-items: center center;
        padding: 30px 10px;
    }
    .send {
        padding: 5px 15px;
        font-size: .85rem;
    }
    .widget {
        margin: 30px auto;
    }
    .qlinkz {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0;
    }
    .widget {
        margin: 10px 30px;
        text-align: center;
        width: 85%;
    }
    .textwidget {
        padding: 5px 0;
    }
    div.africaplogo{
        width: 55px;
        height: 40px;
        margin: 10px auto;
    }
    .link {
        padding: 10px 0;
    }
    .ql {
        padding: 5px 0;
    }
    .qlink1,
    .qlink2,
    .qlink4 {
        border: none;
        text-align: center;
        padding: 5px;
    }
    .qlink1 {
        border-left: none;
    }
    .qlink3 {
        display: none;
    }
    .qlink4 {
        border-right: none;
    }
    .find {
        padding: 10px 0;
    }
    .tel {
        text-align: center;
        padding: 5px 0;
    }
    .fa-phone,
    .fa-envelope,
    .fa-globe-africa {
        padding-right: 15px;
    }
    .footer {
        font-size: .6rem;
    }
   
}

@media only screen and (max-width: 320px) {


    div.logo1 {
        width: 40px;
        height: 40px;
    }
    .column1 {
        width: 85%;
    }
    .whoweare,
    .ourteam,
    .services {
        padding-top: 20px;
    }
    .underline {
        margin-bottom: 10px;
    }
    div.about-container {
        padding: 10px 5px;
    }
    .lead {
        margin-top: 10px;
        padding-top: 5px;
        font-size: 1.5rem;
    }
    .lead1 {
        font-size: .85rem;
    }
    .column2 {
        background-size: 230px;
    }
    div.services-container {
        width: 90%;
        height: fit-content;
        padding: 0 0 30px 0;
        grid-gap: 10px;
    }
    div.real-estate h2,
    div.criminal h2,
    div.personal h2,
    div.employment h2 {
        font-size: .95rem;
        padding: 10px 0;
    }
    div.real-estate p,
    div.criminal p,
    div.personal p,
    div.employment p {
        font-size: .75rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: .85rem;
    }
    .service-head,
    .team-head,
    .form-label {
        font-size: .9rem;
    }
    .success {
        font-size: 1.3rem;
    }
    .btn,
    .btn1 {
        font-size: .8rem;
        padding: 5px 8px;
    }
}