@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('img/law-bg.jpg') no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    width: 600%;
    max-width: none;
}

.mypicx {
    width: 60px;
    height: 60px;
    margin-left: 100px;
    border-radius: 100%;
}

.nav-items {
    float: right;
    margin-top: 20px;
}
.nav-lists {
    font-family: 'Raleway';
}

.btn-home,
.btn-about,
.btn-services,
.btn-team,
.btn-contact {
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: #33495f;
    font-weight: 600;
}

.content {
    max-width: 100%;
    height: 80%;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}

h1 {
    font-family: 'Questrial', Open Sans;
    color: #FFFFFF;
    text-shadow: 0px 0px 500px #000;
    font-size: 300%;
    font-weight: 400;
    padding-top: 15%;
    margin: 30px 0 30px 0;
    line-height: 1.2;
}

h3 {
    font-family: 'Poiret One', Open sans;
    color: #FFFFFF;
    text-shadow: 0px 0px 500px #000;
    font-weight: 100;
    font-size: 100%;
    margin-bottom: 8%;
    line-height: 2;
}

.btn,
.btn1 {
    border-radius: 10px;
    font-family: 'Oswald', Open Sans;
    color: #dfe8ef;
    font-size: 120%;
    padding: 10px 20px;
    border: solid #dfe8ef 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    margin-right: 30px;
}

.btn:hover,
.btn1:hover {
    color: #b2c5d4;
    border: solid #b2c5d4 4px;
}

.whoweare {
    color: #FFFFFF;
    background: #2a3747;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Poiret One', Roboto;
}

.about-box {
    width: 30%;
    height: 100px;
    background-color: #262626;
    margin: 20px;
    display: flex;
    float: right;
}

.lead {
    color: #2a3747;
    font-family: "Raleway";
    padding-top: 20px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.column1 {
    width: 60%;
    margin-left: 100px;
    padding-right: 100px;
    font-size: 100%;
    font-weight: 300;
    font-family: 'Poiret One', Open Sans;
    text-align: justify;
    line-height: 2;
    float: left;
}
.column2 {
    margin: 50px;
    width: 100%
}

.services {
    color: #FFFFFF;
    background: #2a3747;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Poiret One', Roboto;
}

.aa,
.ab,
.ac,
.ad {
    width: 150px;
    height: 150px;
    background-color: #000;
    margin: 30px;
    float: left;
    border-radius: 100%;
}

.myhobbies-content {
    margin: 0 auto;
    font-size: 100%;
    font-weight: 300;
    font-family: 'Poiret One', Open Sans;
    text-align: justify;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.75;
}

.contactme-content {
    margin: 0 auto;
    font-size: 100%;
    font-weight: 300;
    font-family: 'Poiret One', Open Sans;
    text-align: center;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.75;
}

.form-box {
    background-image: url('img/desk-bg5.jpg');
}

.form-content-box {
    margin: 0 auto;
    font-family: 'Poiret One', Open Sans;
    font-weight: 600;
    text-align: justify;
    width: 35%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.75;
}

.fname,
.emailadd,
.messaze {
    font-size: 200%;
    margin-bottom: 20%;
    color: #FFFFFF;
}

input[type=text] {
    width: 100%;
    height: 45px;
    color: #262626;
    background-color: #edf2f7;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: inherit;
    border-radius: 5px;
    border: 0 solid #e2e8f0;
}

#message-input {
    width: 100%;
    background-color: #edf2f7;
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
    border-radius: 6px 6px 0px 6px;
}

.send {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    background: #58555a;
    border: #58555a;
    color: #ffffff;
    cursor: pointer;
}

.send:hover {
    background: #cdcdca;
    color: #2c2325;
    border: #2c2325;
}

#footer-items {
    width: 100%;
    margin: 0 auto;
}

.footer-contents {
    text-align: center;
    margin: 20px;
    font-family: 'Poiret One', Open Sans;
    font-weight: 700;
}
.footer {
    font-size: 100%;
}
.facebook,
.twitter,
.instagram,
.linkedin,
.github,
.envelope {
    color: #58555a;
    font-size: 30px;
}

.facebook:hover,
.twitter:hover,
.instagram:hover,
.linkedin:hover,
.github:hover,
.envelope:hover {
    color: #2c2325;
}

@media only screen and (max-width: 768px) {
    .intro .inner {
        width: 100%;
        height: 50%;
    }
    .content {
        max-width: 100%;
        margin: 20px;
        text-align: left;
        height: 60%;
    }
    .mypicx {
        width: 30px;
        height: 30px;
        margin-left: 15px;
        margin-top: 50px;
        border-radius: 100%;
    }
    .nav-items {
        float: right;
        margin-top: 50px;
    }
    .nav-lists {
        font-family: 'Raleway';
    }
    .btn-home,
    .btn-about,
    .btn-services,
    .btn-team,
    .btn-contact {
        padding-left: 10px;
        padding-right: 15px;
        text-decoration: none;
        color: #33495f;
        font-weight: 400;
        font-size: 12px;
    }
    h1 {
        font-size: 200%;
        font-family: 'Open Sans';
        margin-top: 70%;
    }
    h3 {
        font-size: 80%;
        font-weight: 200;
        line-height: 1.5rem;
        margin-bottom: 15%;
    }
    .btn,
    .btn1 {
        font-size: 100%;
        padding: 4px 7px;
    }
    .column1 {
        font-size: 100%;
        line-height: 1.5;
        width: 85%;
        margin-left: 20px;
        padding: 0;
    }

    .contactme-content {
        font-size: 100%;
        line-height: 1.5;
        width: 85%;
    }

    .form-content-box {
        width: 85%;
    }
    .fname,
    .emailadd,
    .messaze {
    font-size: 100%;
    margin-bottom: 15%;
    }
    .footer {
        font-size: 40%;
        width: 100%;
        margin-top: 20px;
    }
}